.stageLineChartContainer {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
}

.loadingChart {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activityItem {
  margin-bottom: 0.4rem;
}

.reportsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.reportsModulesWrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.reportsModuleWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #f1f2f3;
  width: 48%;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    margin: 0 2rem;
  }
}

.reportsModuleHeader {
  padding: 0.5rem 0;
  background-color: #f1f2f3;
  display: flex;
  justify-content: center;
}

.reportsModuleBody {
  padding: 1rem;
}
